.none {
	display: none !important;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.no-scroll {
	overflow-y: hidden;
}

.transform-Rotate45{
	transform: rotate(45deg);
	transition: transform 0.3s;
}

.title{
	position: relative;
    color: #fff;
    font-size: 48px;
    line-height: 58px;
    padding-bottom: 15px;
    text-align: center;
    &::before{
        content: '';
        position: absolute;
        width: 55px;
        height: 5px;
        background: linear-gradient(to right, #55B4D4 0%, #5758E0 100%);
		bottom: 0;
		left: 50%; 
        transform: translateX(-50%); 
    }
}

@media(max-width: 820px){
    .title{
        font-size: 34px;
    }
}

.default-btn{
    display: inline-block;
    background-color: #34c6c9;
    color: #fff;
    padding: 18px 40px;
    border-radius: 6px;
    font-family: inherit;
    text-align: center;
    transition: 0.3s;
}

.section__content-block {
	text-align: center;
	max-width: 853px;
	margin: 0 auto;
	margin-bottom: 50px;
    margin-top: 70px
}

@media(max-width: 768px){
    .section__content-block{
        margin-top: 40px;
    }
}

.default__content-text{
    font-size: clamp(14px, 3vw, 20px);
}
