:root {
	--container-width: 1230px;
	--container-padding: 15px;

	--container-mini-width: 1050px;
	--container-mini-padding: 15px;

	--font-main: 'inter', sans-serif;
	--font-accent: 'inter', serif;
	--font-size: 14px;

	--page-bg:#191919;
	--text-color: #999999;
	--accent: #ac182c;

    --laptop-size: 1199px;
	--tablet-size: 959px;
	--mobile-size: 599px;
	
}