.counting{
    position: relative;
    padding-top: 70px;
    padding-bottom: 90px;
    &__title{
        font-size: clamp(26px, 3vw, 48px);
        line-height: 1.2;
        margin-bottom: 20px;
    }
    &__text{
        font-size: clamp(14px, 3vw, 22px);
        text-align: center;
    }
    &__textarea-wrapper{
        position: relative;
    }
    &__wrapper-textarea{
        padding: 15px 50px 15px 20px;
        width: 100%;
        max-width: 1000px;
        height: 300px;
        background-color: #fff;
        color: #000;
        border-radius: 10px;
        margin-bottom: 25px ;
        resize: vertical;
    }
    &__wrapper-textarea::-webkit-scrollbar {
        width: 10px;
      }
       
    &__wrapper-textarea::-webkit-scrollbar-track {
        background-color:#edeadf;
        border-radius: 10px;
    }
       
    &__wrapper-textarea::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color:#999999;
    }
    &__wrapper{
        max-width: 1000px;
        margin: 0 auto;
    }
    &__wrapper-info{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 1000px;
    }
    &__wrapper-column{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 45%;
        margin-bottom: 15px;
        gap: 30px;
    }
       
    &__counter-title{
        max-width: 350px;
        width: 100%;
        background-color: #fff;
        color: #999;
        padding: 5px 10px;
        font-size: 16px;

    }
    &__counter-num{
        background-color: #fff;
        color: #999;
        width: 100px;
        text-align: center;
        padding: 5px 2px;
        font-size: 16px;
    }
    &__wrapper-copy{
        position: absolute;
        top: 10px; 
        right: 10px;
        cursor: pointer; 
        display: none;
    }
}

@media(max-width: 880px){
    .counting{
        &__wrapper-info{
            justify-content: start;
            gap: 0px 20px;
        }
        &__wrapper-column{
            gap: 10px;
        }
        &__counter-title{
            font-size: 14px;
        }
        &__counter-num{
            font-size: 14px;
        }
        &__text{
            font-size: 16px;
        }
    }
}

@media(max-width: 768px){
    .counting{
        &__counter-title{
            font-size: 12px;
        }
        &__counter-num{
            width: 70px;
        }
        &__wrapper-textarea{
            height: 200px;
            font-size: 12px;
        }
        &__wrapper-copy{
            width: 25px;
            height: 25px;
        }
        &__wrapper-textarea{
            margin-bottom: 15px;
        }
        &__wrapper-column{
            margin-bottom: 10px;
        }
    }
}

@media(max-width: 550px){
    .counting{
        &__wrapper-info{
            display: block;
        }
        &__wrapper-column{
            width: 100%;
            justify-content: start;
        }
    }
}