// Index.html
.top{
    background-image: url('../img/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;

    &__content{
        text-align: center;
        padding-top: 120px;
    }
    &__content-title{
        font-size: 64px;
        line-height: 77px;
        margin-bottom: 20px;
        color: #fff;
    }
    &__content-text{
        max-width: 470px;
        margin: 0 auto;
        font-size: 24px;
        margin-bottom: 50px;
    }
    &__content-btn {
        scroll-behavior: smooth;
        background-color: #fff;
        color: #000;
        border: none;
        padding: 10px 20px;
        font-size: 16px;
        border-radius: 8px;
        cursor: pointer;
        transition: all 0.3s ease;
      }
      
      &__content-btn:hover {
        background-color: #55B4D4;
        color: #fff;
      }
}

.possibilities{
    background-color: #111;
    padding-top: 70px;
    padding-bottom: 75px;
    &__title{
        margin-bottom: 40px;
    }
    &__column-top{
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }
    &__column-bottom{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
        margin-top: 30px;
    }
    &__item{
        position: relative;
        background-color: #191919;
        max-width: 372px;
    }
    &__item:hover{
        background: linear-gradient(to right, #55B4D4 0%, #5758E0 100%);
    }
    &__item:hover .possibilities__item-text{
        transition: all 1.3s ease; 
        color: #fff;
    }
    &__item:hover .possibilities__item-arrow svg path{
        transition: all 1.3s ease; 
        fill: #fff;
    }
    &__item:hover .possibilities__item-icon svg path{
        transition: all 1.3s ease; 
        fill: #fff;
    }
    &__item-content{
        text-align: center;
        padding: 30px 20px 60px;
    }
    &__item-icon{
        margin-bottom: 15px;
    }
    &__item-title{
        margin-bottom: 15px;
        font-size: 26px;
        color: #fff;
    }
    &__item-text{
        margin-bottom: 25px;
    }
    &__item-arrow{
        position: absolute;
        bottom: 20px;
        left: 0;
        right: 0;
    }
}

.about{
    background-color: #191919;
    padding: 90px 0;
    &__inner{
        display: flex;
    }
    &__img{
        margin-right: 39px;
    }
    &__content{
        max-width: 425px;
    }
    &__content-title{
        position: relative;
        color: #fff;
        font-size: 48px;
        line-height: 58px;
        padding-top: 15px;
        margin-bottom: 25px;
        &::before{
            content: '';
            position: absolute;
            width: 55px;
            height: 5px;
            background: linear-gradient(to right, #55B4D4 0%, #5758E0 100%);
            top: 0;
            left: 0;
        }
    }
    &__content-text{
        margin-bottom: 30px;
    }
    &__content-offers span{
        font-weight: 700;
    }
    &__content-link:hover{
        text-decoration: underline;
    }
}

.popular{
    background-color: #111111;
    padding-bottom: 60px;
    padding-top: 70px;
    &__content{
        margin-bottom: 40px;
    }
    &__content-title{
        margin-bottom: 25px;
    }
    &__content-text{
        text-align: center;
        max-width: 575px;
        margin: 0 auto;
    }
}

.resources{
    background-color: #000;
    &__inner{
        padding: 70px 10px 90px;
    }
    &__content{
        margin-bottom: 30px;
    }
    &__spoilers{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    &__spoilers-item{
        background-color: #191919;
        border-radius: 5px;
        position: relative;
    }
    &__spoilers-item.show::after{
        content: '';
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 2px;
        background-color: #5758E0;
    }
    &__spoilers-title{
        padding: 20px 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        font-size: 24px;
    }
    &-plus{
        font-size: 30px;
        transition: transform 0.3s; 
    }
    &__spoilers-text{
        background-color: #000;
        padding-top: 10px;
        padding-left: 10px;
        max-height: 0;
        overflow: hidden; 
        opacity: 0; 
        transition: max-height 0.5s ease, opacity 0.5s ease;
    }
    &__spoilers-text p:not(:last-child){
        padding-bottom: 20px;
    }
    &__spoilers-text.show{
        max-height: 200px; 
        opacity: 1;
    }
}

.blog{
    background-color: #111111;
    padding-bottom: 60px;
    padding-top: 70px;
    &__content{
        margin-bottom: 40px;
    }
    &__content-title{
        margin-bottom: 25px;
    }
    &__content-text{
        text-align: center;
        max-width: 575px;
        margin: 0 auto;
    }
}

// allinstruments.html
.instruments{
    background-color: #111;
    &__inner{
        padding-top: 70px;
        padding-bottom: 90px;
    }
    &__content{
        text-align: center;
        max-width: 853px;
        margin: 0 auto;
        margin-bottom: 30px;
    }
    &__title{
        margin-bottom: 30px;
    }
    &__colums{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
    }
    &__item--blocked{
        display: inline-block;
        background-color: #fff;
    }
    &__item--unblocked{
        display: inline-block;
        position: relative;
        border: 1px solid #fff;
        background-color: #111111;
    }
    &-item{
        width: 350px;
        height: 377px; 
        overflow: hidden;
        transition: all 0.3s;
    }
    &__item-content{
        text-align: center;
    }
    &__item-content::after{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 60px;
        z-index: 1;
        background-color: #000;
        opacity: .45;
    }
    &__item-title{
        align-items: center;
        position: absolute;
        z-index: 2;
        top: 15px;
        left: 0;
        right: 0;
        font-size: 16px;
        color: #fff;
        text-align: center;
        transition: all 0.3s;
    }
    &__item--unblocked:hover {
        border: 1px solid #55B4D4; 
    }
    
    &__item--unblocked:hover .instruments__item-title {
        color: #55B4D4;
    }
    &__img{
        max-width: 100%;
        padding: 82px 50px;
    }
}

.feedback{
    background-color: #191919;
    padding: 80px 10px;
    &__inner{
        padding: 43px 20px; 
        display: flex;
        justify-content: space-between;
        border: 1px solid #ffffff;
        border-radius: 10px;
    }
    &__title{
        max-width: 500px;
        font-size: 20px;
        font-weight: 700;
        margin-left: 20px;
        color: #fff;
    }
    &__social{
        display: flex;
        gap: 15px;
        margin-right: 20px;
    }
    &__social-link{
        background-color: #999999;
        color: #fff;
        max-width: 220px;
        padding: 15px 15px;
        border-radius: 8px;
        border: none;
        cursor: pointer;
        transition: all 0.3s ease;
    }
    &__social-link:hover{
        background-color: #55B4D4;
        color: #fff;
    }
}

.materials{
    background-color: #111;
    &__inner{
        text-align: center;
        padding-top: 70px;
        padding-bottom: 90px;
    }
    &__content{
        max-width: 575px;
        margin: 0 auto;
        margin-bottom: 30px;
    }
    &__content-title{
        margin-bottom: 30px;
    }
}

// photoResolution.html
.resized{
    padding-top: 70px;
    padding-bottom: 90px;
    &__functional{
        margin-right: 65px;
    }
    &__content{
        padding-bottom: 50px;
        max-width: 1000px;
        margin: 0 auto;
    }
    &__title{
        margin-bottom: 20px;
    }
    &__text{
        font-size: 22px;
        text-align: center;
    }
    &__wpapper{
        display: flex;
        justify-content: center;
    }
    &__select-upload{
        margin-bottom: 20px;
    }
    &__upload-label{
        display: block;
        font-size: 12px;
        line-height: 16px;
        font-weight: 400;
        color: #fff;
        margin-bottom: 4px;
    }
    &__select{
        background-color: #ffffff;
        border: 1px solid #3f3f3f;
        border-radius: 8px;
        font-size: 14px;
        line-height: 16px;
        font-weight: 400;
        color: #000000;
        width: 275px;
        padding: 8px 5px;
        cursor: pointer;
    }
    &__select option{
        background-color: #fff;
        color: #000000;
    }
    &__file-upload{
        margin-bottom: 40px;
    }
    &__file-input,
    &__file-choose {
        padding: 10px 7px;
        border: none;
        font-size: 12px;
    }
    &__file-choose{
        border-radius: 8px 0 0 8px;
        background-color: #D5DDE5;
        color: #000;
    }
    &__file-btn{
        background-color: lightgray;
        cursor: pointer;
    }
    &__file-input{
        background-color: #333;
        color: white;
        width: 200px;
    }
    &__file-close{
        background-color: #607D8B; 
        color: white;
        padding: 10px 15px;
        border-radius: 0 8px 8px 0;
        font-size: 12px;
        height: 35px;
    }
    &__upload-dimensions{
        margin-bottom: 20px;
    }
    &__functional-title,
    &__dimensions-title{
        text-align: center;
        color: #fff;
        margin-bottom: 15px;
    }
    &__dimensions-inner{
        display: flex;
        align-items: center;
        gap: 30px;
    }
    &__dimensions-input{
        background-color: #ffffff;
        color: #000;
        border-radius: 5px;
        width: 160px;
        padding: 10px 5px;
    }
    &__upload-download{
        text-align: center;
    }
    &__upload-button{
        background-color: #999999;
        color: #fff;
        padding: 13px 15px;
        border-radius: 8px;
        margin-bottom: 7px;
        transition: all .5s;
    }
    &__upload-button:hover{
        background-color: #55B4D4;
    }
    &__new-size{
        font-size: 12px;
        line-height: 16px;
        font-weight: 400;
        color: #fff;
    }
    &-img{
        width: 350px;
        height: 350px;
        border: 1px solid #fff;
    }
    &__image-text{
        margin-bottom: 5px;
        font-size: 12px;
        line-height: 16px;
        font-weight: 400;
        color: #fff;
    }
    &__initial-size{
        margin-top: 4px;
        font-size: 12px;
        line-height: 16px;
        font-weight: 400;
        color: #fff;
    }
}

// Statuses
.statuses{
    padding-top: 70px;
    padding-bottom: 90px;
    &__content{
        padding-bottom: 80px;
        max-width: 1000px;
        margin: 0 auto;
    }
    &__title{
        margin-bottom: 20px;
    }
    &__text{
        font-size: 20px;
        text-align: center;
    }
    &__wrapper{
        display: flex;
        justify-content: space-around;
        margin-bottom: 30px;
    }
    &__wrapper-input{
        display: flex;
    }
    &__input{
        background-color: #ffffff;
        color: #000;
        border-radius: 8px;
        width: 215px;
        padding: 13px 5px;
    }
    &__wrapper-submit{
        background-color: #999999;
        padding: 13px 37px;
        color: #fff;
        border-radius: 8px;
        text-align: center;
        margin-left: 4px;
        transition: all .3s;
    }
    &__wrapper-submit:hover{
        background-color: #55B4D4;
    }
    &__wrapper-selects{
        display: flex;
        gap: 15px;
    }
    &__selects-groups,
    &__selects-codes{
        background-color: #ffffff;
        border-radius: 8px;
        font-size: 14px;
        line-height: 16px;
        font-weight: 400;
        color: #000000;
        padding: 8px 5px;
        cursor: pointer;
    }
    &__selects-codes{
        width: 200px;
    }
    &__info{
        max-width: 980px;
        margin: 0 auto;
        text-align: center;
    }
    &__info-title{
        font-size: 24px;
        color: #fff;
        margin-bottom: 10px;
    }
}

// counting
.counting{
    position: relative;
    padding-top: 70px;
    padding-bottom: 90px;
    &__content{
        padding-bottom: 40px;
        max-width: 1000px;
        margin: 0 auto;
    }
    &__title{
        margin-bottom: 20px;
    }
    &__text{
        font-size: 20px;
        text-align: center;
    }
    &__textarea-wrapper{
        position: relative;
    }
    &__wrapper-textarea{
        padding: 15px 50px 15px 20px;
        width: 100%;
        max-width: 1000px;
        height: 300px;
        background-color: #fff;
        color: #000;
        border-radius: 10px;
        margin-bottom: 25px ;
    }
    &__wrapper{
        max-width: 1000px;
        margin: 0 auto;
    }
    &__wrapper-info{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 1000px;
    }
    &__wrapper-column{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 45%;
        margin-bottom: 15px;
        gap: 30px;
    }
       
    &__counter-title{
        max-width: 350px;
        width: 100%;
        background-color: #fff;
        color: #999;
        padding: 5px 10px;
        font-size: 16px;

    }
    &__counter-num{
        background-color: #fff;
        color: #999;
        width: 100px;
        text-align: center;
        padding: 5px 2px;
        font-size: 16px;
    }
    &__wrapper-copy{
        position: absolute;
        top: 10px; 
        right: 10px;
        cursor: pointer; 
        display: none;
    }
}