.top{
    background-image: url('../img/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: clamp(500px, 70vh, 900px);
    display: flex;
    align-items: center;
    justify-content: center;

    &__content{
        text-align: center;
    }
    &__content-title{
        font-size: clamp(32px, 6vw, 64px);
        line-height: 1.2;
        margin-bottom: 20px;
        color: #fff;
    }
    &__content-text{
        max-width: 470px;
        margin: 0 auto;
        font-size: clamp(18px, 3vw, 24px);
        margin-bottom: 50px;
    }
    &__content-btn {
        scroll-behavior: smooth;
        background-color: #fff;
        color: #000;
        border: none;
        padding: 10px 20px;
        font-size: 16px;
        border-radius: 8px;
        cursor: pointer;
        transition: all 0.3s ease;
      }
      
      &__content-btn:hover {
        background-color: #55B4D4;
        color: #fff;
      }
}

.possibilities{
    background-color: #111;
    padding-top: 70px;
    padding-bottom: 75px;
    &__title{
        margin-bottom: 40px;
    }
    &__column-top{
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }
    &__column-bottom{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
        margin-top: 30px;
    }
    &__item{
        position: relative;
        background-color: #191919;
        max-width: 372px;
    }
    &__item:hover{
        background: linear-gradient(to right, #55B4D4 0%, #5758E0 100%);
    }
    &__item:hover .possibilities__item-text{
        transition: all 1.3s ease; 
        color: #fff;
    }
    &__item:hover .possibilities__item-arrow svg path{
        transition: all 1.3s ease; 
        fill: #fff;
    }
    &__item:hover .possibilities__item-icon svg path{
        transition: all 1.3s ease; 
        fill: #fff;
    }
    &__item-content{
        text-align: center;
        padding: 30px 20px 60px;
    }
    &__item-icon{
        margin-bottom: 15px;
    }
    &__item-title{
        margin-bottom: 15px;
        font-size: 26px;
        color: #fff;
    }
    &__item-text{
        margin-bottom: 25px;
    }
    &__item-arrow{
        position: absolute;
        bottom: 20px;
        left: 0;
        right: 0;
    }
}

.about{
    background-color: #191919;
    padding: 90px 0;
    &__inner{
        display: flex;
    }
    &__img{
        margin-right: 39px;
    }
    &__content{
        max-width: 425px;
    }
    &__content-title{
        position: relative;
        color: #fff;
        font-size: 48px;
        line-height: 58px;
        padding-top: 15px;
        margin-bottom: 25px;
        &::before{
            content: '';
            position: absolute;
            width: 55px;
            height: 5px;
            background: linear-gradient(to right, #55B4D4 0%, #5758E0 100%);
            top: 0;
            left: 0;
        }
    }
    &__content-text{
        margin-bottom: 30px;
    }
    &__content-offers span{
        font-weight: 700;
    }
    &__content-link:hover{
        text-decoration: underline;
    }
}

.popular{
    background-color: #111111;
    padding-bottom: 60px;
    padding-top: 70px;
    &__content{
        margin-bottom: 40px;
    }
    &__content-title{
        margin-bottom: 25px;
    }
    &__content-text{
        text-align: center;
        max-width: 575px;
        margin: 0 auto;
    }
}

.resources{
    background-color: #000;
    &__inner{
        padding: 70px 10px 90px;
    }
    &__content{
        margin-bottom: 30px;
    }
    &__spoilers{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    &__spoilers-item{
        background-color: #191919;
        border-radius: 5px;
        position: relative;
    }
    &__spoilers-item.show::after{
        content: '';
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 2px;
        background-color: #5758E0;
    }
    &__spoilers-title{
        padding: 20px 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        font-size: 24px;
    }
    &-plus{
        font-size: 30px;
        transition: transform 0.3s; 
    }
    &__spoilers-text{
        background-color: #000;
        padding-top: 10px;
        padding-left: 10px;
        max-height: 0;
        overflow: hidden; 
        opacity: 0; 
        transition: max-height 0.5s ease, opacity 0.5s ease;
    }
    &__spoilers-text p:not(:last-child){
        padding-bottom: 20px;
    }
    &__spoilers-text.show{
        max-height: 200px; 
        opacity: 1;
    }
}

.blog__popular{
    background-color: #111111;
    padding-bottom: 60px;
    padding-top: 70px;
    &__content{
        margin-bottom: 40px;
    }
    &__content-title{
        margin-bottom: 25px;
    }
    &__content-text{
        text-align: center;
        max-width: 575px;
        margin: 0 auto;
    }
    & .blog__cards{
        gap: 40px;
    }
}



@media(max-width: 1366px){
    .top__content-title{
        font-size: 38px;
    }
}

@media(max-width: 1220px){
    .possibilities{
        padding-top: 50px;

        &__column-top,
        &__column-bottom{
            justify-content: center;
        }
    }

    .blog__popular{
        & .blog__cards{
            gap: 25px;
            justify-content: center;
            align-items: center;
        }
    }
}

@media(max-width: 1100px){
    .blog__popular{
        & .blog__cards{
            gap: 55px;

        }

    }
}

@media(max-width: 1000px){
    .about{
        padding: 70px 0;
        &__inner{
            flex-direction: column-reverse;
        }
        &__img{
            margin-right:0px;
            max-width: 550px;
            max-height: 550px;
        }
        &__content{
            max-width: 100%;
        }
        &__content-title{
            font-size: 34px;
            margin-bottom: 10px;
        }
        &__content-text{
            margin-bottom: 15px;
        }
        &__content-offers{
            margin-bottom: 20px;
        }
    }
}

@media(max-width: 510px){
    .top__content-title{
        font-size: 34px;
    }
}
