.header {
	background-color: #040402;
	padding: 18px 0;
	position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;

	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__logo-img{
		height: 35px;
		width: 160px;
	}
}

@media(max-width: 1000px){
	.header__logo-img{
		height: 25px;
		width: 120px;
	}
}