.menu{
	display: flex;
	align-items: center;

	&__list{
		display: flex;
		gap: 20px;
		margin-right: 15px;
	}
	&__list-link{
		color: #fff;
        transition: all 0.3s;
    }
	&__list-link:hover{
		color: #55B4D4;
	}
	&__social{
		display: flex;
		gap: 10px;
	}
    &__social-item svg path{
        transition: fill 0.3s;
    }
    &__social-item:hover svg path{
        fill: #55B4D4;
	}
}

.footer__menu{
	display: flex;
	align-items: center;

	&__list{
		display: flex;
		gap: 20px;
		margin-right: 15px;
	}
	&__list-link{
		color: #fff;
        transition: all 0.3s;
    }
	&__list-link:hover{
		color: #55B4D4;
	}
	&__social{
		display: flex;
		gap: 10px;
	}
    &__social-item svg path{
        transition: fill 0.3s;
    }
    &__social-item:hover svg path{
        fill: #55B4D4;
	}
}

.burger {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  width: 30px;
  height: 24px;
  position: relative;
  z-index: 101;
}

.burger span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
  border-radius: 2px;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.burger span:nth-child(1) {
  top: 0;
}

.burger span:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}

.burger span:nth-child(3) {
  bottom: 0;
}

.burger.active span:nth-child(1) {
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}

.burger.active span:nth-child(2) {
  opacity: 0;
}

.burger.active span:nth-child(3) {
  bottom: auto;
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
}

.menu-mobile {
  position: fixed;
  right: -100%;
  top: 60px;
  width: 100%;
  height: calc(100vh - 60px);
  background-color: #000;
  z-index: 99;
  transition: right 0.3s ease;
  overflow-y: auto;
  padding: 20px;
  padding-top: 35px;
}

.menu-mobile.active {
  right: 0;
}

.menu-mobile .menu__list {
  flex-direction: column;
  padding: 0;
}

.menu-mobile .menu__list-item {
  padding: 0 !important;
  margin-bottom: 20px;
}

.menu-mobile .menu__list-link {
  display: block;
  font-size: 20px;
  padding-bottom: 10px;
}

.menu-mobile .header__social {
  padding: 30px 0;
  border-top: 1px solid #f0f0f0;
  margin-top: 20px;
}

.menu-mobile .header__social-link {
  margin-right: 10px;
}

.menu-mobile  .header__social-link svg{
  width: 35px;
  height: 35px;
}

@media (max-width: 1000px) {
	.footer__menu{
		display: none;
	}
}

@media (max-width: 768px) {
	.burger {
    	display: block;
  	}

	.menu {
		display: none;
	}
}