.materials{
    background-color: #111;
    &__inner{
        text-align: center;
        padding-top: 70px;
        padding-bottom: 90px;
    }
    &__content{
        max-width: 575px;
        margin: 0 auto;
        margin-bottom: 30px;
    }
    &__content-title{
        margin-bottom: 30px;
    }
}