/* libs */

/* Base */
@import "./base/_reset";
@import "./base/_vars";
@import "./base/_base";
@import "./base/_utils";
@import "./base/_containers";
@import "./base/_sticky-footer";

@import "../../node_modules/swiper/swiper-bundle";


/* Pages */
@import "./pages/*.scss";

/* Blocks */
@import "./blocks/*.scss";